<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <a href="{% url 'quotes:index' %}">Home</a>
    <h1>Add an author</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'quotes:add' %}" method="POST">
        {% csrf_token %}
        <p>Name:</p>
        <input name="author_name" type="text">

        <p>Bio:</p>
        <input name="author_bio" type="text">

        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>