<div class="container">
    <h1>Add product</h1>

    <form [formGroup]="product" (ngSubmit)="onSubmit()">

        <br>
        <label>Name: <input type="text" formControlName="name"></label>

        <br>
        <label>Brand: <input type="text" formControlName="brand"></label>

        <br>
        <label>Description: <input type="text" formControlName="description"></label>

        <br>
        <label>Price: <input type="text" formControlName="price"></label>

        <br>
        <button type="submit" [disabled]="!product.valid">Add</button>
        <br>
    </form>
</div>