<div class='container'>
    <h1>Search Product</h1>
 
 <form [formGroup]="productSearchForm" (ngSubmit)="onSubmit()">
   <br />
   <label>
     Name:
     <input type="text" formControlName="name">
   </label>
   <br />
   <button type="submit" [disabled]="!productSearchForm.valid">Search</button>
   <br />
 </form>
 
 <br /><br />
   <h2> Result</h2>
   <label>Name: &nbsp;</label> {{ product.name }} <br>
   <label>Brand: &nbsp;</label> {{product.brand }} <br>
   <label>Description: &nbsp;</label> {{ product.description }} <br>
   <label>Price: &nbsp;</label> {{ product.price }}
  <br />
 </div>
 