<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            padding-top: 4.5rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index-template.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link one</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link two</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Template example</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus diam, volutpat congue
                faucibus ut, posuere non turpis. Proin tempus lacus eget urna laoreet bibendum vel ac erat. Integer
                fringilla, tortor et blandit convallis, orci est rhoncus erat, ac scelerisque lacus velit sit amet
                massa. Fusce lacinia pulvinar lacus, ac interdum orci tempus eu. Vivamus sollicitudin turpis sit amet
                tellus porttitor consectetur. Sed mollis risus justo, sit amet convallis dolor varius tristique.
                Phasellus felis diam, fringilla ut fermentum eu, vehicula et nunc. Suspendisse elit sem, convallis vitae
                ipsum id, tincidunt efficitur mi. Aliquam nisl erat, efficitur eget nisi at, lacinia tincidunt odio.
                Nullam scelerisque massa nibh, vel dignissim lectus venenatis ac. Donec vel congue leo. Etiam
                scelerisque quam id dolor efficitur condimentum. Donec accumsan, nunc in eleifend laoreet, ante justo
                auctor mi, vitae efficitur justo eros ut diam. Nullam in est sed elit tristique convallis.</p>
            <a class="btn btn-lg btn-primary" href="https://www.lipsum.com/" role="button" target="_blank">Check out
                Lorem Ipsum &raquo;</a>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>